@using System.Reflection
@model OnlinePizzaOrderingSystem.Models.ViewModels.PizzaViewModel

@{
    var title = "Create Pizza";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <div class="row px-2 mx-2 backgroundWhite border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Pizza.Id != 0)
        {
            <input type="hidden" asp-for="Pizza.Id" />
            title = "Edit Pizza";
        }

        <div class="col-12">
            <h2 class="text-primary">@title</h2>
            <br />
            <div class="col-9">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Pizza.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Pizza.Name" class="form-control" />
                        <span asp-validation-for="Pizza.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Pizza.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Pizza.Price" id="txtPrice" class="form-control" />
                        <span asp-validation-for="Pizza.Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Pizza.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Pizza.Description" class="form-control" style="height: 300px;"></textarea>
                        <span asp-validation-for="Pizza.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Pizza.ImageUrl"></label>
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Pizza.CategoryId"></label>
                    </div>
                    <div class="col-8">
                        @Html.DropDownListFor(m => m.Pizza.CategoryId, Model.CategoryList, "-Please select a Category-", new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4">
                        @if (Model.Pizza.Id != 0)
                        {
                            //Edit button and back to list
                            <partial name="_EditAndBackToListButton" model="Model.Pizza.Id" />
                        }
                        else
                        {
                            <div class="row">
                                <div class="col">
                                    <button type="submit" onclick="return  validateInput()" class="btn btn-primary form-control"> Create</button>
                                </div>
                                <div class="col">
                                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @if (Model.Pizza.Id != 0)
            {
                <div class="col-3">
                    <img src="@Model.Pizza.ImageUrl" width="100%" style="border-radius: 5px;border: 1px solid #bbb9b9" />
                </div>
            }
        </div>
    </div>
</form>

@section Scripts
{
    <script src="https://cdn.tiny.cloud/1/te3nibvjahzmciutwfkhbfrp54wc11vzj6b8hwh4s8v3wl4v/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: 'textarea',
            plugins:'lists',
            menubar:'file edit and format'
        })

        function validateInput() {
            if (document.getElementById("uploadBox").value == "") {
                swal("Error", "Please select an Image", "error")
                return false;
            }
            return true;
        };

        $(document).ready(function() {
            if (document.getElementById('txtPrice').value == "0") {
                document.getElementById('txtPrice').value = '';
            }
        })
    </script>
}
